// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {

    background-color: lightskyblue;

    header {

        // width: 100%;
        padding: 100px;
        display: flex;
        justify-content: space-between;

        #logged_status {

            h6 {

                font-weight: bold;
                display: inline-block;
                background-color: yellow;
                border-radius: 20px;
                font-size: 1.8em;
                animation: pad infinite 3s;
            }

            h6:before {

                content: "\21E8";
            }
            
            h6:after {
                
                content: "\21E6";
            }

            @keyframes pad {
                100% {

                    text-decoration: underline;
                }
            }
        }
    }

    text-align: center;

}